* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.DARA, .mask_group {
  max-height: 30px;
  object-fit: contain;
}


html, body, .app-container {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  background-color: gray;
  height: 80vh;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.footer {
  background-color: #007bff;
  color: white;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.image-overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 1rem;
  z-index: 2;
  padding: 0.5rem;
}


.overlay-img {
  width: 100px;
  position: relative;
  padding: 10px
} 

.captured-result {
  position: relative;
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.captured-preview {
  width: 50%;
  border-radius: 8px;
  object-fit: cover;
 }

.tick-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 20%; 
  height: 20%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


@media (max-width: 768px) {
  .image-overlay {
    position: absolute;
    left: 72%;
    transform: translateX(-50%);
    gap: 1rem;
    z-index: 2;
    padding: 0.5rem;
    width: 100%;
}

  .overlay-img {
    width: 70px;
    position: relative;
    padding: 10px
  }
}